@model List<WebAppVet.Models.Room>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <span>Nombre</span> <span>@item.name</span> <br />
    <span>Location</span> <span>@item.location</span> <br />


}